<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- 全局Context提供者 -->
        <provider
            android:name=".utils.context.AppContentProvider"
            android:authorities="${applicationId}.AppContentProvider"
            android:initOrder="100"
            android:exported="false" />
    </application>
</manifest>