<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <provider
            android:name=".utils.CloudhearingFileProvider"
            android:authorities="${applicationId}.cloudhearing.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cloudhearing_file_paths" />
        </provider>
    </application>

</manifest>