<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
    </queries>
    <!--管理所有文件权限-->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".jtSportechApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.JtsportechAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".playerdetail.simpleplay.SimplePlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".racedetail.editor.ImageEditorActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".landing.transparent.TransparentLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentActivity" />
        <activity
            android:name=".message.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="102100102" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tencent.login.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.dylanc.activityresult.launcher.ResultFileProvider"
            android:authorities="${applicationId}.result.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/take_pic_paths" />
        </provider>
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplay.VideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".playerdetail.PlayerDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.scanning.QRCodeScanningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".landing.LandingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".guide.GuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".racedetail.RaceDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <provider
            android:name="com.rousetime.android_startup.provider.StartupProvider"
            android:authorities="${applicationId}.android_startup"
            android:exported="false">
            <meta-data
                android:name="com.jtsportech.visport.android.utils.startup.AndroidStartupConfig"
                android:value="android.startup.provider.config" />
            <meta-data
                android:name="com.jtsportech.visport.android.utils.startup.TimberStartup"
                android:value="android.startup" />
            <meta-data
                android:name="com.jtsportech.visport.android.utils.startup.LanguageStartup"
                android:value="android.startup" />
            <meta-data
                android:name="com.jtsportech.visport.android.utils.startup.UMStartup"
                android:value="android.startup" />
        </provider>

    </application>

</manifest>